{
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "overrides": [
      {
        "files": ".prettierrc",
        "options": { "parser": "json" }
      }
    ]
  }