button {
  background-color: rgb(16, 131, 41); /* Green */
  border: none;
  color: hsl(0, 0%, 100%);
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  border-radius: 4px;
}
p {
  font-size: 2vw;
  font-family: montserrat, sans-serif, serif;
  font-style: normal;
  font-weight: 100;
}
h1 {
  font-size: 3vw;
  font-family: montserrat, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
}
#Home {
  background-color: white;
}
.buttonContainer {
  width: 100%;
  height: 5vw;
  margin-right: 5vw;
}
.tickets {
  float: right;
  margin-right: 5vw;
}
.aboutContainer {
  width: 40vw;
  height: 100%;
  text-align: left;
  margin-left: 5vw;
  margin-right: 0;
  float: left;
}
.logisticsContainer {
  width: 30vw;
  height: 100%;
  text-align: left;
  margin-right: 5vw;
  margin-left: 0;
  float: right;
  top: 44vw;
  margin-right: 5vw;
}
